body{
    /* background-color: rgba(46, 46, 46, 0.966); */
    background-image: url('https://wallpapercave.com/wp/wp3006038.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}